<div class="container-message">
	<div class="panel">
		<div class="panel-body">

<div class="account-header" style="margin: 30px 15px 30px 15px;">
	<span class="account-avatar">
		<img class="account-image" src="static/images/default-user.png"/>
	</span>
	<div ng-show="signedIn">
		<h1 class="account-name">Anonymous</h1>

		<p class="profile profile-add">This user has chosen to stay anonymous for this thread. We want to allow our users the
			ability to feel safe even if they're posting about sensitive topics or personal details.
			This capability is intended for user protection and abuse could be cause for the removal
			of this feature or penalty for the violator.</p>
	</div>
</div>

</div>
</div>
</div>

