<div class="container-message">
	<div db-loading ng-show="!infoLoaded"></div>

	<div class="panel" style="padding:15px" ng-show="infoLoaded">


	<div class="success-message" ng-show="displaySuccess">
		<h6 class="error-title">Thanks! We'll get back to you shortly.</h6>
	</div>

	<div>
		<h3 style="text-align:left">What's on your mind?</h3>
		<p>Fill out the form and we'll get back to you lickety-split.</p>

		<form name="contact" class="form-group">
			<input id="input-name" class="form-control" type="Text" ng-model="name" placeholder="name" required/>
			<input id="input-email" class="form-control validate" type="email" ng-model="email" placeholder="email" required/>
			<textarea class="form-control" ng-model="message" placeholder="message" rows="5" style="margin-bottom:10px" required autofocus/>
			<button ng-disabled="contact.$invalid" type="button" class="btn btn-primary" ng-click="sendEmail(name, email, message)">Submit</button>
	    </form>
	</div>
	<div class="clearfix"></div>
</div>
</div>
