<div class="container-message">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3>Password Reset</h3>

			<div class="error-message" ng-show="showError">
				<h4 class="error-title">{{errorMessage}}</h4>
				<h6>If there seems to be a problem, don't hesitate to call support at <a href="tel:+17272223347">(727) 222-3347</a>.</h6>
			</div>

		<!-- 	<div ng-hide="cardVerified">
				<p class="form-instructions">
					First, we want to make sure it's you, so nobody can take hold of your account without your permission.
				</p>
				<form name="cardVarification" class="form-group">
					<input id="input-digits" class="form-control validate" ng-model="fourDigits" placeholder="Last four digits of your credit card" minlength="4" maxlength="4" required/>
					<button  ng-disabled="cardVarification.$invalid" type="button" class="btn btn-primary" ng-click="verifyCard(fourDigits)">Verify card</button>
				</form>
			</div> -->

		<!-- 	<div ng-if="cardVerified"> -->
				<p class="form-instructions">Don't forget this one!</p>
				<form name="passwordReset" class="form-group">
					<input id="input-code" class="form-control validate" type="password" ng-model="password" placeholder="New Password" ng-minlength="6" required/>
					<input id="input-code" class="form-control validate" type="password" ng-model="passwordCopy" placeholder="New Password (one more time)" required db-compare-to compare-to="password"/>
					<button  ng-disabled="passwordReset.$invalid" type="button" class="btn btn-primary" ng-click="registerNewPassword(password)">Reset password</button>
				</form>
		<!-- 	</div> -->

			<p ng-show="newPasswordSet" style="margin-top:30px;">
				You successfully reset your password, now sign in on the sidebar or 
				<a href="/sign-in">here</a>.
			</p>
		</div>
	</div>
</div>