<div class="container-message">
	<div class="panel panel-default">
		<div class="panel-body">
			<h3>What's your email address?</h3>
			<p class="form-instructions">We'll shoot you an email to confirm that you have an account at that address and let you know how to reset the password if you need to.</p>
			<form name="emailEntry" class="form-group">
				<input id="input-email" class="form-control validate" type="email" ng-model="email" placeholder="email@example.org" required/>
				<input id="input-email" class="form-control validate" type="email" ng-model="emailCopy" placeholder="email@example.org (again to make sure we don't email somebody else)" required db-compare-to compare-to="email"/>
				<button  ng-disabled="emailEntry.$invalid" type="button" class="btn btn-primary" ng-click="emailLink(email)">Email me</button>
			</form>
			<p ng-show="emailSent" style="margin-top:30px;">We just sent you an email with a link to the place where you can reset your password.</p>
		</div>
	</div>
</div>