<div class="error-message" ng-show="displayError">
	<h4 class="error-title">Error in your submission</h4>
	<h6>{{errorText}}</h6>
</div>

<form style="width:40%" ng-hide="submitting || displaySuccess" name="passwordReset" class="form-group">
	<input id="input-code" class="form-control" type="password" ng-model="password" placeholder="Current password" required/>
	<input id="input-code" class="form-control validate" type="password" ng-model="revisedPassword" ng-minlength="6" placeholder="New password"  required/>
	<input id="input-code" class="form-control validate" type="password" ng-model="revisedPasswordCopy" ng-minlength="6" placeholder="New password (one more time)" required db-compare-to compare-to="revisedPassword"/>
	<button  ng-disabled="passwordReset.$invalid" type="button" class="btn btn-primary" ng-click="resetPassword(password, revisedPassword)">Change password</button>
</form>

<div db-loading ng-show="submitting"></div>

<div ng-show="displaySuccess">
	<h5>Your password has been reset</h5>
</div>
