<h1 class="comment-title"><a ng-href="/board/{{post.id}}">{{post.summary}}</a></h1>
<h6 class="comment-author">by <strong>{{post.posterName}}</strong>&nbsp;|&nbsp;{{post.timeToDisplay}}</h6>
<div class="clear"></div>

<!-- <a ng-href="post.link">Link to source</a> -->



<!--
	I think we don't want to allow users to tip a post without having visited the conversation/
	at least clicked
 <div class="comment">
	<div class="comment-glyph" ng-hide="collapse">
		<div ng-hide="tipped" class="glyphicon glyphicon-heart-empty" ng-click="tipComment()"></div>
		<div ng-show="tipped" class="glyphicon glyphicon-heart"></div>
	</div>

	<div class="clear"></div>

</div> -->

